* {}

body {
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  font-family: sans-serif;
  color: #fff;
}

main {
  width: 730px;
  margin: 100px auto 50px;
  display: flex;
  align-items: center;
}

.section1 {
  background-color: rgba(255, 255, 255, .2);
  padding: 0 10px 10px 10px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

button {
  height: 100px;
  width: 100px;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

.section2 {
  background-color: rgba(255, 255, 255, .2);
  border-radius: 0 10px 10px 0;
  width: 250px;
  height: 400px;
  padding: 0 20px;
}

.estadisticas {
  border: 1px solid #fff;
  height: 105px;
  border-radius: 10px;
  padding: 8px 20px;
  box-sizing: border-box;
}

footer {
  text-align: center;
}

footer a {
  text-decoration: none;
}